.container {
    display: flex;
    width: 100%;
    height: 150px;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    background: linear-gradient(0.4turn, white,#F7AFB0,white ) ;
    border: solid lightgrey 2px;
    box-shadow:  10px 5px 5px rgb(192, 192, 193);
    border-radius: 10px;
}
  
.LOGO {
    display: flex;
    height: 120px;
    width: 80px;
    margin: 12px 0px 0px 40px;
}
  
.navbar {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-right: 50px;
}
  
.link-nav {
    font-family: 'Dancing Script';
    color: #131212;
    font-size: 24px;
    text-decoration: none;
    letter-spacing: 2px;
}

.link-nav:hover,
.link-nav.active {
    color: #1caeae; /* Couleur du texte au survol */
}

/*Breakpoint*/
/* Tablette et écran plus grand */
@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        height: 120px;
    }
      
    .LOGO { 
        margin: 5px 0px 0px 20px;
        height: 110px;
        width: 80px;
    }
}



 @media (min-width: 375px) and (max-width: 767px) {
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 80px;
        width: 100%;
        border-radius: 0px;
        height: 120px;     
    }

    .LOGO {
        text-align: center;
        margin: 0px;
        height: 100px;
        width: 80px;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: flex-end;
        gap: 20px;
        margin: 0px;  
    }
    
    .link-nav {
        font-size: 16px;   
    }

}

  @media (min-width: 280px) and (max-width: 374px) {
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 80px;
        width: 100%;
        border-radius: 0px;
        height: 120px;     
    }

    .LOGO {
        text-align: center;
        margin: 0px;
        height: 100px;
        width: 80px;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: flex-end;
        gap: 20px;
        margin: 0px;  
    }
    
    .link-nav {
        font-size: 16px;   
    }
}